@binding-set hbind
{
  /* Page Up & Down */
  bind "<Control>f"       { "move-cursor" (pages, 1) };
  bind "<Alt>f"           { "move-cursor" (pages, 1) };
  bind "<Control>Right"   { "move-cursor" (pages, 1) };
  bind "<Alt>Right"       { "move-cursor" (pages, 1) };
  bind "<Control>b"       { "move-cursor" (pages, -1 ) };
  bind "<Alt>b"           { "move-cursor" (pages, -1) };
  bind "<Control>Left"    { "move-cursor" (pages, -1) };
  bind "<Alt>Left"        { "move-cursor" (pages, -1) };

  /* selection Next */
  bind "<Shift>j"         { "move-cursor" (visual-positions, 1) };
  bind "<Alt><Shift>j"    { "move-cursor" (visual-positions, 1) };
  bind "<Alt>j"           { "move-cursor" (visual-positions, 2) };
  bind "Down"             { "move-cursor" (visual-positions, 1) };

  /* selection Previous */
  bind "<Alt>k"           { "move-cursor" (visual-positions, -1) };
  bind "<Alt><Shift>k"    { "move-cursor" (visual-positions, -1) };
  bind "<Alt>Tab"         { "move-cursor" (visual-positions, -1) };
  bind "Up"               { "move-cursor" (visual-positions, -1) };
}


# for general config vertical and horizontal
scrolledwindow{
  /*-gtk-key-bindings: scrollbind;*/
  -GtkScrolledWindow-scrollbar-spacing: 0;
  color:
  background-color: red;
  padding-top: 0;
  padding-bottom: 0;
  font: ;
}

#flowbox flowboxchild:selected { color: red; background-color: blue; }

# for horizontal scroll
#horizontal {
  -gtk-key-bindings: hbind;
  color: blue;
  background-color: green;
  font:11px Merriweather;
  padding-top: 0;
  padding-bottom: 0;
}

# for vertical scroll
#vertical {
  -gtk-key-bindings: hbind;
  color: DarkGreen;
  background-color: LightCyan4;
  font: ;
}

#Prompt {
  color: ;
  background-color: ;
  font: ;
}

#filter {
  color: ;
  background-color: ;
  font: ;
}


scrollbar {
  /*-GtkScrollbar-overlay-indicator-min-height: 2px;*/
  -GtkScrollbar-has-backward-stepper: 1;
  -GtkScrollbar-has-forward-stepper: 1;
}

